<div class="content">
    <h2>Create a new group order</h2>

    <form (submit)="createGroupOrder(groupName.value, groupOrderUrl.value, groupDescription.value, groupAdmins.value)">
        <fieldset>
            <label>Group Name</label>
            <input type="text" placeholder="some group name" #groupName>
        </fieldset>

        <fieldset>
            <label>Order description</label>
            <textarea #groupDescription></textarea>
        </fieldset>

        <fieldset>
            <label>Order url</label>
            <input type="url" placeholder="http://www.pizza.be" #groupOrderUrl>
        </fieldset>

        <fieldset>
            <label>Organizer</label>
            <input type="text" disabled value="{{ user.name }}">
        </fieldset>

        <fieldset>
            <label>Other admins (add user's id, comma separated)</label>
            <input type="text" #groupAdmins placeholder="124895, 23498983" />
        </fieldset>

        <fieldset class="submit">
            <button type="submit">Create group</button>
        </fieldset>
    </form>
</div>