<div class="content">
    <h2>Login with Meetup</h2>

    <p [hidden]="!loading">Checking your status&hellip;</p>

    <div [hidden]="loading">
        <a [hidden]="loggedIn" href="{{ url }}">Log in with Meetup</a>

        <div [hidden]="!loggedIn">
            <p>You are already logged in. Go back to your group's page to place your order, or
                <a [routerLink]="['Create']">create a new group</a>
            </p>

            <div [hidden]="visits.length === 0">
                <p>You recently visited these groups:</p>
                <ul>
                    <li *ngFor="#visit of visits">
                        <a [routerLink]="['GroupOrder', { id: visit.id }]">{{ visit.name }}</a>
                    </li>
                </ul>
            </div>
        </div>

    </div>
</div>