$fontFamily: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;

body {
    background: #f9f9f9;
    font-family: $fontFamily;
    font-size: 16px;
    line-height: 20px;
    color: #222233;
}

a {
    color: #03A9F4;
}


form {
    background: #fff;
    margin: 10px 0;
    padding: 30px 10px;
    border: 1px solid #ddd;
    border-radius: 2px;
}

fieldset {
    border: none;
    background: transparent;

    &.submit {
        margin-top: 10px;
        text-align: right;
    }
}

label {
    float: left;
    display: block;
    width: 40%;
}

textarea,
input[type="text"],
input[type="password"],
input[type="email"],
input[type="url"],
input[type="number"] {
    font-family: $fontFamily;
    font-size: 16px;
    line-height: 20px;
    border: 1px solid #ddd;
    border-radius: 2px;
    padding: 5px 5px;

    display: block;
    box-sizing: border-box;
    width: 60%;
}

input[type="submit"],
button[type="submit"],
button[type="button"] {
    font-family: $fontFamily;
    font-size: 16px;
    line-height: 20px;
    border: none;
    box-shadow: none;
    border-radius: 2px;
    padding: 5px 10px;
    cursor: pointer;

    background: #03A9F4;
    color: #fff;
}

table {
    border-collapse: collapse;
}

th {
    background: #eee;
    text-align: left
}

td, th {
    padding: 4px 8px;
}

tr:nth-child(2n + 1) td {
    background: #f8f8f8;
}
tr:nth-child(2n) td {
    background: #f1f1f1;
}

tr {
    td, th {
        border: 1px solid #ddd;
    }
}

tr td {
    &.cost {
        text-align: right;
    }

    &.center {
        text-align: center
    }

    &.payment {
        label {
            display: inline-block;
            width: auto;
        }
    }

    &.paid {
        padding: 2px 5px;
        background: limegreen;
        color: #fff;
    }

    &.unpaid {
        padding: 2px 5px;
        background: red;
        color: #fff;
    }
}


.content {
    max-width: 1000px;
    margin: 0 auto;
}


.wrap {
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

.admin-box {
    box-sizing: border-box;
    background: #fff;
    margin: 10px 0;
    padding: 30px 10px;
    border: 1px solid #ddd;
    border-radius: 2px;
    min-height: 180px;

    &.half {
        width: calc(50% - 10px);
        float: left;

        &:first-child {
            margin-right: 10px;
        }

        &:last-child {
            margin-left: 10px;
        }
    }

    h4 {
        margin-top: 0;
    }
}

