<div class="content">
    <p [hidden]="!loading">
        Loading the order group &hellip;<br />
        <small>(this can take a while)</small>
    </p>

    <div [hidden]="loading">
        <h2>{{ groupOrder.name }}</h2>
        <p>{{ groupOrder.description }}</p>

        <p>Choose your food from <a href="{{ groupOrder.orderUrl }}" target="_blank">{{ groupOrder.orderUrl }} </a>
            and add it to the list below.</p>

        <h3>Orders</h3>

        <p [hidden]="loggedIn">You need to <a [routerLink]="['Login']">log in</a> to place an order</p>

        <table width="100%" class="order-list" [hidden]="!loggedIn">
            <thead>
                <tr>
                    <th>Person</th>
                    <th>Order</th>
                    <th>Cost</th>
                    <th>Payment</th>
                    <th>Status</th>
                    <th>Actions</th>
                </tr>
            </thead>

            <tbody>
                <tr *ngFor="#order of orders | arraySort:'+description'">
                    <td>{{ order.creatorName }}</td>
                    <td>{{ order.description }}</td>
                    <td class="cost">{{ order.price }}</td>
                    <td class="center payment {{ order.payed ? 'paid' : 'unpaid' }}">
                        <div [hidden]="isAdmin">
                            <span [hidden]="!order.payed">paid</span>
                            <span [hidden]="order.payed">unpaid</span>
                        </div>

                        <div [hidden]="!isAdmin">
                            <label>
                                <input type="checkbox" name="order{{ order.id }}paymentstatus"
                                   [checked]="order.payed"
                                   (change)="togglePayment(order.id)"
                                />
                                paid
                            </label>
                        </div>
                    </td>
                    <td class="center">
                        <span [hidden]="order.status !== 0">created</span>
                        <span [hidden]="order.status !== 1">ordered</span>
                        <span [hidden]="order.status !== 2">finished</span>
                    </td>
                    <td>
                        <span [hidden]="user.id !== order.creatorId && !isAdmin">
                            <button type="button" (click)="removeOrder(order.id)">Remove</button>
                        </span>

                        <span [hidden]="isAdmin || alreadyOrdered">
                            <button type="button" (click)="orderDescription.value = order.description; orderPrice.value = order.price;">Copy this order</button>
                        </span>

                        <span [hidden]="!isAdmin">
                            <button type="button" [hidden]="order.status === 1" (click)="setOrderStatus(order.id, 1)">Set Ordered</button>
                            <button type="button" [hidden]="order.status !== 1" (click)="setOrderStatus(order.id, 0)">Set Created</button>
                        </span>
                    </td>
                </tr>
            </tbody>
        </table>


        <h4>Add your order</h4>
        <p [hidden]="!alreadyOrdered || groupOrder.status === 1">You already placed an order</p>
        <p [hidden]="groupOrder.status !== 1">Orders are closed</p>
        <form class="orders" [hidden]="!loggedIn || alreadyOrdered || groupOrder.status === 1" (submit)="addOrder(orderDescription.value, orderPrice.value)">
            <fieldset>
                <label>Name</label>
                <input type="text" value="{{ user.name }}" disabled>
            </fieldset>

            <fieldset>
                <label>Description</label>
                <input type="text" placeholder="some pizza" #orderDescription>
            </fieldset>

            <fieldset>
                <label>Price in euro</label>
                <input type="text" placeholder="15" #orderPrice>
            </fieldset>

            <fieldset class="submit">
                <button type="submit">Add Order</button>
            </fieldset>
        </form>

        <div [hidden]="!isAdmin">
            <h3>Admin Option</h3>

            <h4>Groups status</h4>
            <label>
                <input type="radio" name="groupStatus" (click)="openOrders()" [checked]="groupOrder.status === 0">
                Orders are open
            </label><br />

            <label>
                <input type="radio" name="groupStatus" (click)="closeOrders()" [checked]="groupOrder.status === 1">
                Orders are closed
            </label><br />

            <h4>All orders status</h4>
            <label>
                <input type="radio" name="orderStatus" (click)="setOrdersStatus(0)" [checked]="allOrdersStatus === 0">
                Created
            </label><br />
            <label>
                <input type="radio" name="orderStatus" (click)="setOrdersStatus(1)" [checked]="allOrdersStatus === 1">
                Ordered
            </label><br />
            <label>
                <input type="radio" name="orderStatus" (click)="setOrdersStatus(2)" [checked]="allOrdersStatus === 2">
                Finished
            </label><br />

            <h4>Summary</h4>
            <ul class="summary">
                <li>
                    <label>Orders</label> {{ orders.length }}
                </li>

                <li>
                    <label>Paid</label> {{ paidOrdersCount }}
                </li>

                <li>
                    <label>Unpaid</label> {{ orders.length - paidOrdersCount }}
                </li>

                <li>
                    <label>Ordered</label> {{ orderedCount }}
                </li>

                <li>
                    <label>Not yet ordered</label> {{ orders.length - orderedCount }}
                </li>

                <li>
                    <label>Total cost</label> {{ totalCost }}
                </li>
            </ul>
        </div>

    </div>
</div>